@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #1f1e24;
    --color-secondary: #6556cd;
    --font-raleway: "Raleway", "sans-serif";
    --font-inter: "Inter", "sans-serif";
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: var(--font-inter);
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    background: #27272a;
    overflow: hidden;
    border-radius: 0.25em;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after {
    color: var(--color-secondary);
}
